<div class="container">
	<div class="row">
		<div class="span7">
			<div class="well">
			  <h1>Why Should You Choose OLM?</h1>
			</div>
			<div class="well">
			  <p class="tab">So why exactly should you be so interested in our Online Library Management
			  system? Well the answer is quite simple: it is the best way to effectively read
			  and study. We provide an online system for managing books, and through our partnerships with
			  schools we effectively tailor our site to the needs of individuals whilst vastly
			  enriching available content.</p>
			  <p class="tab">We take the extra work out of ascertaining a book. Without OLM, if you want a new book for
			  a class you only have a few options: take time to drive to a library and check it out or fork over a lot of money. With our
			   system, the hassles of these options are eliminated. The partnerships with schools make content vast and affordable. There
			    is no reason to take the time to drive to a library, only to find out that they don't have the book you want. There is 
			    no worry about late fee's. Recurring notifications keep you updated on the status of books you requested or currently have 
			    checked out. And our limitless tools make the experience once the book is obtained, much more enjoyable and rewarding. </p>
			  <p class="tab">Once you get signed up through your participating school you can access the vast toolset present in OLM. The user page contains all the tools and functionalities that one would expect when visiting a physical library. This consists of tabs for checking out books, reserving books, requesting books, previewing books, and a list of books read or checked out. There is constant online support and help documents designed to aid in the use of OLM tools. There is the convenient search bar (in addition to the standard website search) that will aid users in searching for contents in a book. There are custom demographics that give the user a list of recently checked out books, with any brief notes and personal ratings, along with statistics on time spent reading, highlights made etc. Our tailored algorithms keep track of individuals tastes
			  and help make recommendations for more suited leisurely reading or study material.</p>
			  <p class="tab">Perhaps the most enticing features of OLM are those present when actually viewing a book. Among these are tools for adding, editing and deleting contents in a book (these edits are only local, and all changes made are kept in logs for easy rollback). There are tools for creating posted-notes on a page, and general notes on the book you are reading. There will is a tool for tagging pages which can be referred to later. There are editing tools, like those for highlighting text, changing fonts, etc. There will be template pages you can create for summarizing contents of a page, chapter etc.</p>
			  <p class="tab">In short, OLM is a simple and effective tool for students in school. It provides them with free access to a huge
			  repository of content, and gives them all the features necesarry for creating an ideal study environment. There are no late fee's,
			  no charges, and it is tailored to fit you. So stop waiting and sign up now!</p>
			</div>
		</div>
		<div class="span5">
			<ul class="thumbnails">  
        <li class="span5">  
          <div class="thumbnail">  
            <img src="/thumbnail.jpg" alt="Effective Learning" style="padding:10px;">  
            <div class="caption">  
              <h5>Endless Content Just a Click Away</h5>  
              <p>Sit back a check out a book for leisurely reading. Pick it yourself or have our system pick
              one for you based on your style. Find the latest text books and study materials with cutting 
              edge tools that make learning easy. Or even start creating your own content to give back to the community!
               The possibilities are endless!</p>  
              <p><a href="#" class="btn btn-success">Get Started</a> <a href="#" class="btn btn-info">Participating Schools</a></p>  
            </div>  
          </div>  
        </li> 
			</ul>
		</div>
	</div>
</div>