<div class = "container">
	<div class = "row">
		<div class = "span5">
			<div class="well well-small">
				<h3>  Contact Us</h3>
				<ul class="nav nav-list"></ul>
				 </div>

	
				<div class="well well-small">
				 <address>
				  <strong>OLM, Inc.</strong><br>
				  777 Random Ave, Suite 666<br>
				  Tempe, Az, 85284<br>
				  <abbr title="Support">P:</abbr> (123) 456-7890
				</address>
				  <table class="table">
					  <thead><th>Founder</th> <th>Email</th> <th>Number</th></thead>
					   <tbody>
					    <tr>
					      <td>David Dunning</td>
					      <td>dcdunnin@asu.edu</td>
					      <td>(480)208-3077</td>
					    </tr>
					    <tr>
					      <td>Shantanu Bala</td>
					      <td>shantanu@asu.edu</td>
					      <td>(480)242-0876</td>
					    </tr>
					    <tr>
					      <td>Antonio Franchini</td>
					      <td>afranchi@asu.edu</td>
					      <td>(480)202-8084</td>
					    </tr>
					  </tbody>
				  </table>
			</div>
		</div>
		<div class = "span7">
			<div class="well well-small">
				<h3>Any Questions?</h3>
				<ul class="nav nav-list"></ul>
				 </div>
			<div class="well well-small">
				 <form>
				  <fieldset>
				  	<label>Name</label>
				    <input type="text" placeholder="John Smith">
				    <label>Email</label>
				    <input type="text" placeholder="example123@email.com">
				    <label>Nature of Email</label>
				    <select class ="span4">
					  <option>General Inquiry</option>
					  <option>Report A Bug</option>
					  <option>Report an Account Issue</option>
					  <option>Become part of OLM</option>
					  <option>Help</option>
					</select>
					<label>Question</label>
					<textarea rows="6" class="span6"></textarea>
				  </fieldset>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" class="btn">Email!</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>