<div class = "container">
	<div class = "row">
		<div class = "span2"></div>
		<div class = "span8">
			<div class="well well-small">
			<h3 class="text-center">Frequently Asked Questions</h3>
			</div>
			<div class="well well-small">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        Does OLM cost me anything?
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        The ultimate goal for this answer is no. We partner with universities with the
			        intent that they will cover these costs and create an open learning environment
			        with more access to the materials that will help you succeed. However, for those who
			        attend a school that does not provide this service, a modest fee will be charged for 
			        fixed costs of licenses and site maintenance.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        How do I know if my school participates?
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        You can check our list of participating schools and search for yours. Otherwise, you can
			        check your home student account page through your school if its a university and there should be an icon
			        for the one login feature that will take you to your OLM account.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        How does OLM work?
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        OLM works like a traditional library, except instead of physical copies of books we have 
			        digital ones obtained through licenses. The overall concept is the same though. You can checkout a book,
			        search for books, reserve a book, put a book on hold etc. And it offers all the traditional advantages of having a 
			        physical copy, like highlighting, marking pages, stick notes and much more. 
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        How long do checkout periods last?
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        The checkout period is somewhat dependent on the nature of the book. Books that are heavily used
			         in the academic world will naturaly have longer checkout times to accomdate students who need them
			         throughout the semester, these can be up to three months. Whereas books that can be categorized more 
			         as leisurely reading will have shorter checkout times to encourage greater circulation.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
			        What happens when I make changes to a book?
			      </a>
			    </div>
			    <div id="collapseFive" class="accordion-body collapse">
			      <div class="accordion-inner">
			        When you check out a book you have the option to add/edit/delete content to any page. You can also 
			        highlight pages, put sticky notes, tag pages and other things you can do with a physical copy? So 
			        what happens when you turn the book back in? Nothing. The changes made are strictly local, so no one 
			        else can see the edits that you make. And if you check out the book again, then you will find that your 
			        edits are still there!
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
			        Can changes I make be permanent?
			      </a>
			    </div>
			    <div id="collapseSix" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Changes made are only local, but if you see an error in a book that needs to be fixed then 
			        you have the option of sending us a notice to have it fixed. The correction will then be reviewed
			         by the publisher and it will be decided whether or not to make this a global change!
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
			        How do I keep track of what books I check out and when they are due?
			      </a>
			    </div>
			    <div id="collapseSeven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        OLM provides notification services on books you have checked out and books you inquire about. This means that
			        when due dates approach or books become available, we will send you a message to your communication outlet of choice.
			        There will also be a page on your user account for viewing books that you have checked out, statistics on those books, and
			        how long you have left.
			      </div>
			    </div>
			  </div>
			    <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
			        What happens if I turn a book in late?
			      </a>
			    </div>
			    <div id="collapseEight" class="accordion-body collapse">
			      <div class="accordion-inner">
			        This is not possible! Which is good news for you because this means there are no late fees. Books are 
			        automatically reclaimed when the due date is reached.
			      </div>
			    </div>
			  </div>
			    <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
			        What happens if I need more time with a book?
			      </a>
			    </div>
			    <div id="collapseNine" class="accordion-body collapse">
			      <div class="accordion-inner">
			        All you have to do is send us a request for an extension. Depending on the time you have it checked out, 
			        what it is being used for and other relevant factors, our site will assess whether or not an extension is appropriate. 
			        If it is decided that it is, then the new due date will be updated, otherwise no alterations will be made.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
			        Can I purchase books on OLM?
			      </a>
			    </div>
			    <div id="collapseTen" class="accordion-body collapse">
			      <div class="accordion-inner">
			        No you cannot. OLM was designed with the library heuristic in mind. It does not have the 
			        capability to sell books to individuals. Although, you can check them out to your hearts content.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
			        Is there a limit to how many books I can check out?
			      </a>
			    </div>
			    <div id="collapseEleven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        One user can have up to ten books checked out at one time. We would love to increase this cap, but then
			        the quantity of available books would decrease proportionally for other users.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">
			        Its online, how can all of a copy be checked out?
			      </a>
			    </div>
			    <div id="collapseTwelve" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Books are purchased on an individual license basis. This means that once users checkout all of our 
			        licensed copies, we cannot simply dish out more. We do our best here at OLM to ensure that we have 
			        more than enough copies of books to ensure our customers can access them at any time, but there obviously 
			        has to be limitations on this. This is why the reserve book functions are in place.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThr">
			        Anymore Questions?
			      </a>
			    </div>
			    <div id="collapseThr" class="accordion-body collapse">
			      <div class="accordion-inner">
			        If your question was not addressed here, feel free to visit our contact page and shoot us an email. We will
			        do our best to respond in a timely fashion and we might even add it to our FAQ if it is warranted!
			      </div>
			    </div>
			  </div>
			</div>
			</div>
		<div class = "span2"></div>
		</div>
	</div>
</div>	