<div class="container">
  <div class="row">
    <div class="span2"></div>
    <div class="span8">
      <div class="well well-small wellBlue">
        <h3 class="text-center">Admin Panel</h3>
      </div>
      <div class="well well-small text-center wellBlue">  
	<div id="user_nav">
		 <h4> Manage Users or Books Here!! </h4>
		  <p></p>
		  <table align="center" cellpadding="20px">
		  	<tr>
		  		<td><%= button_to "Manage Users", "/admin/manage_users/list"%></td><td><%= button_to "Manage Books", "/#"%></td>
		  	</tr>
		  </table>
	</div>
	<div class="span2"></div>
	</div>
	</div>
	</div>
</div>
