<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online Library Tool for Students</title>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!-- Commented out - update these with your own files -->
    <!-- 
      <link rel="shortcut icon" href="ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png"> 
    -->
  </head>

  <body>
    <div class="container">

      <!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img class="peopleCarouselImg" src="http://www.wallpaper4me.com/images/wallpapers/unbelieveablelibrary-496225.jpeg" alt="" />
      <div class="carousel-caption">
        <p>An endless supply of books at your disposal, anytime, anywhere. Eliminate the hassel of driving to the bookstore and searching through titles</p>
      </div>
    </div>
    <div class="item">
      <img class="peopleCarouselImg" src="http://www.natcom.org/uploadedImages/More_Scholarly_Resources/Doctoral_Program_Resource_Guide/FSU%20Campus.jpg" alt="" />
      <div class="carousel-caption">
        <p>Free accounts available through university partnerships make it affordable for students.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://i.huffpost.com/gen/1069543/thumbs/o-BOOK-EDITING-MYTHS-facebook.jpg" alt="" />
      <div class="carousel-caption">
        <p>Tools that make editing and keeping track easy.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.submitedge.com/blog/wp-content/uploads/2013/03/cross-browser_0.jpg" alt="" />
      <div class="carousel-caption">
        <p>Compatible with your favorite browser, making access anywhere easy and reliable.</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Effecient</h2>
           <p>Our online library management system takes all the unknowns out of the library equation and brings books straight to you without any intermediates. There
           are millions of titles that are available and paid for through your school. There are no late fee's since books are reclaimed automatically. Periodic updates keep users informed about the status of currently checked out books, as well as those they inquire about. There is no need to get up and drive or pay unnecesarry money. Better learning is just a click away.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Effective</h2>
           <p>Our OLM system provides a variety of tools for a more effective learning environment. This includes tools that edit, delete or add contents to checked out books.
           We also provide tools for sticky notes, tagging pages, highlighting, and searching books. OLM has all the advantages of traditional books, without the extra upkeep and costs.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Reliable</h2>
          <p>One of the most important aspects of our website is reliability. Students need to be able to reference materials at all times and any gaps in these uptimes
          can be extremely detrimental. This is why we provide as close to constant up time as possible. Backup servers are used for updating and failover, while primary servers
          are constantly monitered for memory usage, security breaches and any other similar events that could compromise the site and data.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>By David Dunning, Shantanu Bala, Antonio Franchini</p>
      </footer>

      

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>

  </body>
</html>